{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    {% for wishlist in wishlists %}
        <div class="wishlist-card">
            <img src="{{ wishlist.wl_image }}" alt="{{ wishlist.wl_name }}">
            <h3>{{ wishlist.wl_name }}</h3>
            <p>{{ wishlist.wl_description ? wishlist.wl_description : 'Aucune description' }}</p>
            <p class="price">{{ wishlist.wl_price }} €</p>
            <a href="{{ wishlist.wl_url }}" target="_blank">Voir plus</a>
        </div>
    {% else %}
        <p>Aucune wishlist trouvée.</p>
    {% endfor %}
</div>
{% endblock %}